.main {
  display: grid;
}

header {
  background-color: rgba(70, 68, 68, 0.571);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
li {
    list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
/* .links { */
/* display: inline-block; */

/* } */

.eventContainer {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.eventCard {
  width: 280px;
  height: 280px;
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.041);
  margin: 5px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
